<!doctype html>
<html>
<head>
	<title>说 | Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html, body {
			height: 100%;
			margin: 0px 0px;
			background-color: #FFA726;
			text-align: center;
		}
		.verticalcenter {
			height: 400px;
			width: 400px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -200px;
			margin-top: -200px;
		}
		.btn-warning {
			background-color: #ae721a;
			border-width: 0px;
		}
		.signup{
			color:#707070;
			line-height: 30px;
		}
		a:hover{
			text-decoration: none;
			color:#909090;
		}
		.btn-warning:hover {
			background-color: #704813;
		}
	</style>
</head>
<body>
<div class="container verticalcenter">
	<div class="row">
		<img src="./img/logo.png" width="60%" style="max-width:100%; max-height:100%; padding-bottom:25px;">

	</div>
	<% if(message.length > 0) { %>
	<div class="row" style="color:#f7941d; text-align:center; margin-bottom:5px;  margin-top:-5px;">
		<%= message %>
	</div>
	<% } %>
	<div class="row">
		<div class="text-center">

			<form action="/login" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="email" placeholder="Username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password">
				</div>

				<button type="submit" class="btn btn-warning btn-lg">Login</button>
			</form>

			<a href="/signup" class="signup">Don't have an account? Sign Up!</a>
		</div>
	</div>
</div>
</body>
</html>