@font-face {
  font-family: 'rsu_textregular';
  src: url("../fonts/rsu_text_regular-webfont.eot");
  src: url("../fonts/rsu_text_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rsu_text_regular-webfont.woff2") format("woff2"), url("../fonts/rsu_text_regular-webfont.woff") format("woff"), url("../fonts/rsu_text_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rsuregular';
  src: url("../fonts/rsu_regular-webfont.eot");
  src: url("../fonts/rsu_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rsu_regular-webfont.woff2") format("woff2"), url("../fonts/rsu_regular-webfont.woff") format("woff"), url("../fonts/rsu_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'rsuregular'; }

.header {
  width: 100%;
  background-color: #323232;
  position: fixed;
  z-index: 1000; }

.weblogo {
  color: white;
  font-size: 2.5em;
  padding: 0.3em;
  padding-left: 0.5em; }
  .weblogo a {
    text-decoration: none;
    color: white; }

.space-top {
  padding-top: 5em; }

.side-style {
  z-index: 0;
  position: relative;
  padding-top: 1em; }

.active {
  background-color: #585858; }
  .active a {
    color: white !important; }

.content {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 2em;
  font-family: 'rsu_textregular'; }

.head-chat {
  font-size: 2.4em; }

hr {
  border-top: 1px solid #323232; }

.theme-color {
  color: #323232; }

#messages {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.2em;
  padding-bottom: 4em; }

.myMessage {
  text-align: right; }

.msgOwner {
  font-size: 2em;
  background-color: #323232;
  border-radius: 50px;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  color: white;
  overflow: hidden;
  text-shadow: 0px 0px #191919, 1px 1px #191919, 2px 2px #191919, 3px 3px #191919, 4px 4px #191919, 5px 5px #191919, 6px 6px #191919, 7px 7px #191919, 8px 8px #191919, 9px 9px #191919, 10px 10px #191919, 11px 11px #191919, 12px 12px #191919, 13px 13px #191919, 14px 14px #191919, 15px 15px #191919, 16px 16px #191919, 17px 17px #191919, 18px 18px #191919, 19px 19px #191919, 20px 20px #191919, 21px 21px #191919, 22px 22px #191919, 23px 23px #191919, 24px 24px #191919, 25px 25px #191919, 26px 26px #191919, 27px 27px #191919, 28px 28px #191919, 29px 29px #191919, 30px 30px #191919, 31px 31px #191919, 32px 32px #191919, 33px 33px #191919, 34px 34px #191919, 35px 35px #191919, 36px 36px #191919, 37px 37px #191919, 38px 38px #191919, 39px 39px #191919, 40px 40px #191919, 41px 41px #191919, 42px 42px #191919, 43px 43px #191919, 44px 44px #191919, 45px 45px #191919, 46px 46px #191919, 47px 47px #191919, 48px 48px #191919, 49px 49px #191919, 50px 50px #191919, 51px 51px #191919, 52px 52px #191919, 53px 53px #191919, 54px 54px #191919, 55px 55px #191919, 56px 56px #191919, 57px 57px #191919, 58px 58px #191919, 59px 59px #191919, 60px 60px #191919, 61px 61px #191919, 62px 62px #191919, 63px 63px #191919, 64px 64px #191919, 65px 65px #191919, 66px 66px #191919, 67px 67px #191919, 68px 68px #191919, 69px 69px #191919, 70px 70px #191919, 71px 71px #191919, 72px 72px #191919, 73px 73px #191919, 74px 74px #191919, 75px 75px #191919, 76px 76px #191919, 77px 77px #191919, 78px 78px #191919, 79px 79px #191919, 80px 80px #191919, 81px 81px #191919, 82px 82px #191919, 83px 83px #191919, 84px 84px #191919, 85px 85px #191919, 86px 86px #191919, 87px 87px #191919, 88px 88px #191919, 89px 89px #191919, 90px 90px #191919, 91px 91px #191919, 92px 92px #191919, 93px 93px #191919, 94px 94px #191919, 95px 95px #191919, 96px 96px #191919, 97px 97px #191919, 98px 98px #191919, 99px 99px #191919, 100px 100px #191919, 101px 101px #191919, 102px 102px #191919, 103px 103px #191919, 104px 104px #191919, 105px 105px #191919, 106px 106px #191919, 107px 107px #191919, 108px 108px #191919, 109px 109px #191919, 110px 110px #191919, 111px 111px #191919, 112px 112px #191919, 113px 113px #191919, 114px 114px #191919, 115px 115px #191919, 116px 116px #191919, 117px 117px #191919, 118px 118px #191919, 119px 119px #191919, 120px 120px #191919, 121px 121px #191919, 122px 122px #191919, 123px 123px #191919, 124px 124px #191919, 125px 125px #191919, 126px 126px #191919, 127px 127px #191919, 128px 128px #191919, 129px 129px #191919, 130px 130px #191919, 131px 131px #191919, 132px 132px #191919, 133px 133px #191919, 134px 134px #191919, 135px 135px #191919, 136px 136px #191919, 137px 137px #191919, 138px 138px #191919, 139px 139px #191919, 140px 140px #191919, 141px 141px #191919, 142px 142px #191919, 143px 143px #191919, 144px 144px #191919, 145px 145px #191919, 146px 146px #191919, 147px 147px #191919, 148px 148px #191919, 149px 149px #191919, 150px 150px #191919, 151px 151px #191919, 152px 152px #191919, 153px 153px #191919, 154px 154px #191919, 155px 155px #191919, 156px 156px #191919, 157px 157px #191919, 158px 158px #191919, 159px 159px #191919, 160px 160px #191919, 161px 161px #191919, 162px 162px #191919, 163px 163px #191919, 164px 164px #191919, 165px 165px #191919, 166px 166px #191919, 167px 167px #191919, 168px 168px #191919, 169px 169px #191919, 170px 170px #191919, 171px 171px #191919, 172px 172px #191919, 173px 173px #191919, 174px 174px #191919, 175px 175px #191919, 176px 176px #191919, 177px 177px #191919, 178px 178px #191919, 179px 179px #191919, 180px 180px #191919, 181px 181px #191919, 182px 182px #191919, 183px 183px #191919, 184px 184px #191919, 185px 185px #191919, 186px 186px #191919, 187px 187px #191919, 188px 188px #191919, 189px 189px #191919, 190px 190px #191919, 191px 191px #191919, 192px 192px #191919, 193px 193px #191919, 194px 194px #191919, 195px 195px #191919, 196px 196px #191919, 197px 197px #191919, 198px 198px #191919, 199px 199px #191919, 200px 200px #191919; }

.msgName {
  text-align: left;
  color: #727272;
  font-weight: bold;
  font-size: 0.7em;
  margin-bottom: 0em; }

.msgTime {
  font-size: 0.8em;
  color: #7f7f7f; }

.msgBody-left, .msgBody-left-unread {
  background-color: #e6e6e6;
  border-radius: 20px;
  margin-bottom: 1em;
  margin-top: 0px;
  margin-left: 1em;
  margin-right: 0.5em;
  padding: 0.5em 1em 0.5em;
  position: relative; }

.msgBody-center {
  border-radius: 20px;
  margin-bottom: 1em;
  margin-top: 0px;
  margin-left: 5em;
  margin-right: 5em;
  padding: 1em 1em 1em;
  position: relative;
  text-align: center;
  margin: auto;
  padding: auto; }

.msgBody-left:after, .msgBody-left-unread:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 20px 9px 0;
  border-color: transparent #e6e6e6;
  display: block;
  width: 0;
  z-index: 1;
  left: -17px;
  top: 14px; }

.msgBody-left-unread {
  color: white;
  background-color: #656565; }

.msgBody-left-unread:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 20px 9px 0;
  border-color: transparent #656565;
  display: block;
  width: 0;
  z-index: 1;
  left: -17px;
  top: 14px; }

.msgBody-right {
  background-color: #e6e6e6;
  border-radius: 20px;
  margin-bottom: 1em;
  margin-top: 0px;
  margin-left: 0.5em;
  margin-right: 1em;
  padding: 0.5em 1em 0.5em;
  position: relative; }

.msgBody-right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 20px;
  border-color: transparent #e6e6e6;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 12px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clear {
  clear: both; }

.msgbox {
  position: fixed;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 1.5em;
  bottom: 0;
  z-index: 1000;
  width: 75%;
  background-color: #f2f2f2;
  text-align: center;
  display: inline-block; }
  .msgbox input {
    width: 70%;
    font-size: 1.5em;
    border: 0px solid white;
    background-color: transparent;
    border-bottom: 2px solid #cccccc;
    outline: none; }
  .msgbox input:focus {
    border-bottom: 2px solid #999999; }

.sendButton {
  content: '\2191';
  font-size: 2em;
  background-color: #323232;
  border-radius: 50px;
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  color: white;
  overflow: hidden;
  text-shadow: 0px 0px #191919, 1px 1px #191919, 2px 2px #191919, 3px 3px #191919, 4px 4px #191919, 5px 5px #191919, 6px 6px #191919, 7px 7px #191919, 8px 8px #191919, 9px 9px #191919, 10px 10px #191919, 11px 11px #191919, 12px 12px #191919, 13px 13px #191919, 14px 14px #191919, 15px 15px #191919, 16px 16px #191919, 17px 17px #191919, 18px 18px #191919, 19px 19px #191919, 20px 20px #191919, 21px 21px #191919, 22px 22px #191919, 23px 23px #191919, 24px 24px #191919, 25px 25px #191919, 26px 26px #191919, 27px 27px #191919, 28px 28px #191919, 29px 29px #191919, 30px 30px #191919, 31px 31px #191919, 32px 32px #191919, 33px 33px #191919, 34px 34px #191919, 35px 35px #191919, 36px 36px #191919, 37px 37px #191919, 38px 38px #191919, 39px 39px #191919, 40px 40px #191919, 41px 41px #191919, 42px 42px #191919, 43px 43px #191919, 44px 44px #191919, 45px 45px #191919, 46px 46px #191919, 47px 47px #191919, 48px 48px #191919, 49px 49px #191919, 50px 50px #191919, 51px 51px #191919, 52px 52px #191919, 53px 53px #191919, 54px 54px #191919, 55px 55px #191919, 56px 56px #191919, 57px 57px #191919, 58px 58px #191919, 59px 59px #191919, 60px 60px #191919, 61px 61px #191919, 62px 62px #191919, 63px 63px #191919, 64px 64px #191919, 65px 65px #191919, 66px 66px #191919, 67px 67px #191919, 68px 68px #191919, 69px 69px #191919, 70px 70px #191919, 71px 71px #191919, 72px 72px #191919, 73px 73px #191919, 74px 74px #191919, 75px 75px #191919, 76px 76px #191919, 77px 77px #191919, 78px 78px #191919, 79px 79px #191919, 80px 80px #191919, 81px 81px #191919, 82px 82px #191919, 83px 83px #191919, 84px 84px #191919, 85px 85px #191919, 86px 86px #191919, 87px 87px #191919, 88px 88px #191919, 89px 89px #191919, 90px 90px #191919, 91px 91px #191919, 92px 92px #191919, 93px 93px #191919, 94px 94px #191919, 95px 95px #191919, 96px 96px #191919, 97px 97px #191919, 98px 98px #191919, 99px 99px #191919, 100px 100px #191919, 101px 101px #191919, 102px 102px #191919, 103px 103px #191919, 104px 104px #191919, 105px 105px #191919, 106px 106px #191919, 107px 107px #191919, 108px 108px #191919, 109px 109px #191919, 110px 110px #191919, 111px 111px #191919, 112px 112px #191919, 113px 113px #191919, 114px 114px #191919, 115px 115px #191919, 116px 116px #191919, 117px 117px #191919, 118px 118px #191919, 119px 119px #191919, 120px 120px #191919, 121px 121px #191919, 122px 122px #191919, 123px 123px #191919, 124px 124px #191919, 125px 125px #191919, 126px 126px #191919, 127px 127px #191919, 128px 128px #191919, 129px 129px #191919, 130px 130px #191919, 131px 131px #191919, 132px 132px #191919, 133px 133px #191919, 134px 134px #191919, 135px 135px #191919, 136px 136px #191919, 137px 137px #191919, 138px 138px #191919, 139px 139px #191919, 140px 140px #191919, 141px 141px #191919, 142px 142px #191919, 143px 143px #191919, 144px 144px #191919, 145px 145px #191919, 146px 146px #191919, 147px 147px #191919, 148px 148px #191919, 149px 149px #191919, 150px 150px #191919, 151px 151px #191919, 152px 152px #191919, 153px 153px #191919, 154px 154px #191919, 155px 155px #191919, 156px 156px #191919, 157px 157px #191919, 158px 158px #191919, 159px 159px #191919, 160px 160px #191919, 161px 161px #191919, 162px 162px #191919, 163px 163px #191919, 164px 164px #191919, 165px 165px #191919, 166px 166px #191919, 167px 167px #191919, 168px 168px #191919, 169px 169px #191919, 170px 170px #191919, 171px 171px #191919, 172px 172px #191919, 173px 173px #191919, 174px 174px #191919, 175px 175px #191919, 176px 176px #191919, 177px 177px #191919, 178px 178px #191919, 179px 179px #191919, 180px 180px #191919, 181px 181px #191919, 182px 182px #191919, 183px 183px #191919, 184px 184px #191919, 185px 185px #191919, 186px 186px #191919, 187px 187px #191919, 188px 188px #191919, 189px 189px #191919, 190px 190px #191919, 191px 191px #191919, 192px 192px #191919, 193px 193px #191919, 194px 194px #191919, 195px 195px #191919, 196px 196px #191919, 197px 197px #191919, 198px 198px #191919, 199px 199px #191919, 200px 200px #191919;
  margin-bottom: 0.5em;
  border: 0px solid white;
  outline: none; }
  .sendButton :hover {
    background-color: #4c4c4c; }

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 5em;
  position: relative;
  z-index: 0;
  bottom: 0; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #989898;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1.5em; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
  overflow-x: hidden; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0.3em;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav ul {
  list-style: none;
  padding-left: 0px; }

.sidebar-nav ul li {
  padding-left: 40px; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  color: #FFFFFF; }

.sidebar-nav li:hover {
  background: #656565; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #656565; }

.sidebar-nav li ul li:hover {
  text-decoration: none;
  color: #fff;
  background: #656565; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li ul li {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6em;
  background-color: #f5f5f5; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 3px;
  background-color: #ddd; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #ddd; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #323232; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #323232; }

.btn-theme {
  background-color: #7f7f7f;
  color: white; }
  .btn-theme :hover {
    color: #e6e6e6; }

/*# sourceMappingURL=style.css.map */
